/* You can add global styles to this file, and also import other style files */
.CodeMirror {
    &-hint {
        height: 30px;
        min-width: 100px;
        display: flex;
        align-items: center;
        color: black;
    }
}


.CodeMirror-hints.default {
    padding: 0;
}
